
{%  extends 'tienda/base.html' %}
    {% block content %}
        {% for producto in Productos %}
        <div class="secciones">
          <div class="producto">
              <h2> {{producto.nombre}}</h2>
          Modelos:{{producto.modelo}} /
          Unidades:{{producto.unidades}}
          <br>
          Precio:{{producto.precio}} /
          Marca:{{producto.marca}}
              
          <br>
            <a class="myButton2" href="{% url 'eliminar' pk=producto.pk %}" >Eliminar Producto</a>
            <a class="myButton" href="{% url 'editar' pk=producto.pk %}" >Editar Producto</a>
          </div>
        </div>
        {% endfor %}
        <a class="myButton3" href="{% url 'nuevo' %}" >Añadir Nuevo Producto</a>
    {% endblock %}
